﻿@model POSTA1.Models.Peshat
@{
    ViewBag.Title = "PESHAEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Ndrysho te dhenat per Peshen</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.PESHAID)
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Numri</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Numri, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Njesia Matese</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.NjesiaMatese, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Ndrysho" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                        @Html.ActionLink("Kthehu ne List", "PESHAIndex")
                                    </button>
                                </span>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>



