﻿@model POSTA1.Models.Qmimi
@{
    ViewBag.Title = "QMIMIEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Ndrysho te dhenat per Qmimin</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.CMIMIID)
                        
                          

                        <div class="form-group">

                            <label for="focusedinput" class="col-sm-2 control-label">Emri i Sherbimit</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("Sherbimi", (SelectList)ViewBag.Sherbimi, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>

                        <div class="form-group">

                            <label for="focusedinput" class="col-sm-2 control-label">Pesha</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("Pesha", (SelectList)ViewBag.Pesha, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>
                            <div class="form-group">
                                <label for="radio" class="col-sm-2 control-label">Trafiku</label>
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(model => model.Trafiku, "Vendor", new { HtmlAttributes = new { @class = "form-control1" } }) Vendor
                                    @Html.RadioButtonFor(model => model.Trafiku, "Nderkombetare", new { HtmlAttributes = new { @class = "form-control1" } }) Nderkombetare
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="focusedinput" class="col-sm-2 control-label">Qmimi</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Cmimi, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <input type="submit" value="Ndrysho" class="btn btn_7 btn-lg btn-default"><span>
                                        <button class="btn btn_7 btn-lg btn-default">
                                            @Html.ActionLink("Kthehu ne List", "QMIMIndex")
                                        </button>
                                    </span>

                                </div>
                            </div>
                        </form>

                </div>
            </div>

        </div>
    </div>

</div>




