﻿@model POSTA1.Models.Qytetet
@{
    ViewBag.Title = "QYTETAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
    alert('@TempData["Message"]');
        </script>

    }



}


<div id="page-wrapper  col-md-offset-0 " class="graphs">
<div class="col-md-15 graphs">
    <div class="xs">
        <h3 style="text-align:center">Regjistro Qytetin</h3>
        <br />

        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" method="post">
                    <div class="form-group">

                        <label for="focusedinput" class="col-sm-2 control-label">Emri i Qytetit</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.EmriQytetit, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-2">
                            <input type="submit" value="Regjistro" class="btn btn_7 btn-lg btn-default"><span>
                                <button class="btn btn_7 btn-lg btn-default">
                                    @Html.ActionLink("Kthehu ne List", "QYTETIndex")
                                </button>
                            </span>

                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

</div>
