﻿@model List<POSTA1.Models.Stafi>

@{
    ViewBag.Title = "STAFIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int rowNo = 0;
}

@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
    alert('@TempData["Message"]');
        </script>

    }



}












<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Stafi</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
    <div class="navbar-form navbar-right">

        <a href="/Admin/STAFAdd" class="btn btn_2 btn-lg btn-default">Regjistro Stafin</a>


    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Emri</th>
                            
                            <th>Data e lindjes</th>
                            <th>Pozita</th>
                            <th>Numri Personal</th>
                            <th>Adresa</th>
                            <th>Telefoni</th>
                            <th>Email</th>
                            <th>Data e fillimit</th>
                            <th>Data e mbarimit</th>
                            <th>Vendi i Punes</th>
                            <th>Zyra Postare</th>
                            <th>Emri i Perdoruesit</th>
                            <th colspan="2"></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="14">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var i in Model)
                        {

                            <tr class="active">
                                <th scope="row">@(rowNo += 1)</th>
                                <td>@i.Emri</td>
                                <td>@i.Ditelindja.Value.ToShortDateString()</td>
                                <td>@i.Pozita</td>
                                <td>@i.NrPersonal</td>
                                <td>@i.Adresa</td>
                                <td>@i.Telefoni</td>
                                <td>@i.Email</td>
                                <td>@i.DataFillimit.Value.ToString("d")</td>
                                <td>@i.DataMbarimit.Value.ToString("d")</td>
                                <td>@i.VendiPunes</td>
                                <td>@i.ZyraPostare.EmriZyres</td>
                                <td>@i.Userat.UserName</td>
                                

                                <td><a href="/Admin/STAFEdit/@i.SID">Ndrysho</a></td>
                                <td>
                                    <a href="/Admin/STAFDelete/@i.SID">Fshij</a>





                                </td>
                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>








