﻿@model POSTA1.Models.Stafi
@{
    ViewBag.Title = "STAFEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/jqueryui")
<script>
    $(function () {
        $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Ndrysho te dhenat per Stafin</h3>
            <br />
            @Html.ValidationSummary(true, "Ju lutem plotesoni te gjitha fushat", new { @class = "text-danger" })

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.SID)
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Emri</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Emri, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Emri, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Data e lindjes</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.Ditelindja, new { htmlAttributes = new { @class = "form-control1 datepicker",@id = "1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Ditelindja, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">NrPersonal</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.NrPersonal, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.NrPersonal, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Adresa</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Adresa, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Telefoni</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.Telefoni, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Telefoni, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                                
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Pozita</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.Pozita, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Pozita, null, new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Data e fillimit</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.DataFillimit, new { htmlAttributes = new { @class = "form-control1 datepicker", @id = "2", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.DataFillimit, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Data e mbarimit</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.DataMbarimit, new { htmlAttributes = new { @class = "form-control1 datepicker", @id = "3", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.DataMbarimit, null, new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Vendi i Punes</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.VendiPunes, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.VendiPunes, null, new { @class = "text-danger" })
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Zyra Postare</label>
                            <div class="col-sm-8">
@Html.DropDownListFor(model => model.ZpID, (SelectList)ViewBag.Zyrat,htmlAttributes: new { @class = "form-control1" })
                             

                            </div>
                        </div>
                        
                                @Html.HiddenFor(model => model.Userat.UserName, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                          
                      
                                @Html.HiddenFor(model => model.Userat.Fjalekalimi, new { @class = "form-control1", @required = "required" } )
                           
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Grupi</label>
                            <div class="col-sm-8">
                              @Html.DropDownListFor(model => model.Userat.GrupiID, (SelectList)ViewBag.Grupet, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Ndrysho" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                        @Html.ActionLink("Kthehu ne List", "STAFIndex")
                                    </button>
                                </span>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>





