﻿@model POSTA1.Models.Userat
@{
    ViewBag.Title = "USEREdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    if (TempData["Message"] != null)
    {
        //<div class="alert">@TempData["Message"]</div>

        <script language="javascript">
            alert('@TempData["Message"]');
        </script>





    }}

<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Ndrysho te dhenat per Perdoruesit</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.UID)
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Emri i Perdoruesit</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Fjalekalimi</label>
                            <div class="col-sm-8">

                                @Html.PasswordFor(model => model.Fjalekalimi, new { value = Model.Fjalekalimi, @class = "form-control1", @required = "required" })

                            </div>

                        </div>




                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Grupi</label>
                            <div class="col-sm-8">

                                @Html.DropDownListFor(model => model.GrupiID, (SelectList)ViewBag.Grupet, htmlAttributes: new { @class = "form-control1" })

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Ndrysho" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                        @Html.ActionLink("Kthehu ne List", "USERIndex")
                                    </button>
                                </span>

                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>


