﻿@model List<POSTA1.Models.Userat>
    @{
        ViewBag.Title = "USERIndex";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        int rowNo = 0;
    }

 












<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Perdoruesit e Sistemit</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
   
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Emri i Perdoruesit</th>
                            <th>Grupi</th>
                            
                           <th colspan="1"></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="4">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">
                                <th scope="row">@(rowNo += 1)</th>
                                <td>@i.UID</td>
                                <td>@i.UserName</td>
                                <td>@i.Grupet.EmriGrupit</td>
                                
                                <td><a href="/Admin/USEREdit/@i.UID">Ndrysho</a></td>
                                
                                
                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>






