﻿@model POSTA1.Models.ZyraPostare
    @{
        ViewBag.Title = "ZPAdd";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
    alert('@TempData["Message"]');
        </script>

    }



}

    <div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Regjistro Zyren Postare</h3>
            <br/>
       
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Emri i Zyres</label>
                            <div class="col-sm-8">
                               @Html.EditorFor(model => model.EmriZyres, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Lokacioni</label>
                            <div class="col-sm-8">
                                
                                @Html.EditorFor(model => model.Lokacioni, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                              
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Kontrolleri</label>
                            <div class="col-sm-8">
                               @Html.EditorFor(model => model.Kontrolleri, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                       


                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Qyteti</label>
                            <div class="col-sm-8">
                                
                                   @Html.DropDownList("Qytetet", (SelectList)ViewBag.Qytetet, htmlAttributes: new { @class = "form-control1" })
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Regjistro" class="btn btn_7 btn-lg btn-default"><span>
    <button class="btn btn_7 btn-lg btn-default">
    @Html.ActionLink("Kthehu ne List", "ZPIndex")
</button>
</span>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

