﻿@model List<POSTA1.Models.ZyraPostare>
@{
        ViewBag.Title = "ZPIndex";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        int rowNo = 0;
}

@{
    if (TempData["Message"] != null)
    {
        
           
       
    <script language="javascript">
    alert('@TempData["Message"]');
    </script>

    }



}












                    <div id="page-wrapper col-md-offset-0" class="graphs">

                        <h3 style="text-align:center">Zyrat Postare</h3>
                        <br />
                        <form class="navbar-form navbar-left" method="get">

                            <div class="input-group col-md-offset-1">
                                <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- Input Group -->

                        </form>
                        <div class="navbar-form navbar-right">

                            <a href="/Admin/ZPAdd" class="btn btn_2 btn-lg btn-default">Regjistro Zyren Postare</a>


                        </div>
                        <br />
                        <br />

                        <div class="col-md-15">

                            <div class="xs">


                                <br />
                                <br />
                            </div>


                            <div class="bs-example4 " data-example-id="simple-responsive-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Emri i Zyres</th>
                                                <th>Lokacioni</th>
                                                <th>Kontrolleri</th>
                                                <th>Qyteti</th>
                                                <th colspan="2"></th>
                                              
                                                
                                            </tr>
                                            <tr>
                                                @if (Model.Count() == 0)
                                                {
                                                    <td></td>
                                                    <td colspan="6">Nuk u gjeten te dhenat e kerkuara</td>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model)
                                {

                                                <tr class="active">
                                                    <th scope="row">@(rowNo += 1)</th>
                                                    <td>@i.EmriZyres</td>
                                                    <td>@i.Lokacioni</td>
                                                    <td>@i.Kontrolleri</td>
                                                    <td>@i.Qytetet.EmriQytetit</td>
                                                    <td><a href="/Admin/ZPEdit/@i.ZPID">Ndrysho</a></td>
                                                    <td><a href="/Admin/ZPDelete/@i.ZPID">Fshij</a>
                                                    
                                                    
                                                    
                                                    
                                                    
</td>
                                                </tr>



                                }



                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
    

