﻿
<!DOCTYPE html>
<html>
<head>
    <title>POSTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/Content/lines.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="~/Content/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="~/Scripts/d3.v3.js"></script>
    <script src="j~/Scripts/rickshaw.js"></script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dergesat Postare</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
                <li class="avatar">
                    <table>
                        <tr>
                            <td>@User.Identity.Name</td>
                            <td><a href="/Account/LogOut">Log Out</a></td>
                        </tr>
                    </table>
                    <ul class="dropdown-menu"></ul>
                </li>

            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/QTP/Index"><i class="fa fa-user fa-fw user nav_icon"></i>Profili</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope fa-fw nav_icon"></i>Dergesat Vendore<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/QTP/PostaPranuar">Posta e pranuar</a>
                                </li>
                                <li>
                                    <a href="/QTP/PostaDorezim">Posta e ngarkuar</a>
                                </li>
                                

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-plane fa-fw nav_icon"></i>Transporti<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                                <li>
                                    <a href="/QTP/ListaDorezuar">Lista e dorezimeve</a>
                                </li>
                                <li>
                                    <a href="/QTP/ListaKthyer">Lista e dergesave te kthyera</a>
                                </li>
                              </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe fa-fw nav_icon"></i>Dergesat Nderkombetare<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/QTP/DergesatNderkombetare">Lista</a>
                                </li>
                                <li>
                                    <a href="/QTP/TransportiNderkombetar">Transporti Nderkombetar</a>
                                </li>
                             </ul>   

                                <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil fa-fw nav_icon"></i>Kerkesat<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/QTP/Kerkesat">Lista e kerkesave</a>
                                </li>
                                <li>
                                    <a href="/QTP/Pergjigjjet">Pergjigjjet</a>
                                </li>
                                
                                </ul>
                                <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")

    

</body>
</html>
