﻿@model POSTA1.Models.DergesatNderkombetare

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-size:18px">Raporti i Dergeses</title>
    <style type="text/css">
        TD {
            font-size: 15pt;
            border: 1px dashed;
        }

        table {
            border: 1px dashed;
            width: 800px;
            height: 600px;
            align-content: center;
        }
    </style>
</head>
<body>
    <div>
        <h2>Raporti i Dergeses</h2>
        <hr />
        <table>
            <tr>
                <td>
                    @Html.DisplayName("Numri i Rekomandes")
                </td>

                <td>
                    @Html.DisplayFor(model => model.NrRekomandes)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Derguesi")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Derguesi)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Adresa e derguesit")
                </td>

                <td>
                    @Html.DisplayFor(model => model.AdresaDerguesit)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayName("Marresi")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Marresi)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Adresa e Marresit")
                </td>

                <td>
                    @Html.DisplayFor(model => model.AdresaMarresit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Data e regjistrimit")
                </td>

                <td>
                    @Html.DisplayFor(model => model.DataRegj)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Lloji i Sherbimit")
                </td>

                <td>
                    @Html.DisplayFor(model => model.LlojiSherbimit.EmriSherbimit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Pesha")

                <td>
                    @Html.DisplayFor(model => model.Peshat.Numri)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Menyra")

                <td>
                    @Html.DisplayFor(model => model.Menyra)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Trafiku")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Qmimi.Trafiku)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Shteti")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Shtetet.EmriShtetit)
                </td>



            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Sportelisti")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Userat.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Zyra Postare")
                </td>

                <td>
                    @Html.DisplayFor(model => model.ZyraPostare.EmriZyres)
                </td>


            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Qmimi")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Qmimi.Cmimi)
                </td>


            </tr>

        </table>
    </div>
</body>
</html>
