﻿ @model POSTA1.Models.Userat
@{
    // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Login.cshtml";
}


<br />
<br />
<br />
<br/>

<br />
<br />

<br />
<h1 style="text-align:center ">Dergesat Postare</h1>
<div class="background-image">
    <div class="app-cam">
        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="text" name="Username" class="text" placeholder="Perdoruesi" onfocus="this.value = '';" onblur="if (this.value == '') {}">
            <input type="password" name="Fjalekalimi" placeholder="Fjalekalimi" onfocus="this.value = '';" onblur="if (this.value == '') {}">
            <div class="submit"><input type="submit" value="Kyqu"></div>

            @Html.ValidationSummary()
        }

    </div>
</div>


