﻿@model POSTA1.Models.PergjigjjaKerkes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-size:18px">Raporti i Pergjigjjes</title>
    <style type="text/css">
        TD {
            font-size: 15pt;
            border: 1px dashed;
        }

        table {
            border: 1px dashed;
            width: 800px;
            height: 600px;
            align-content: center;
        }
    </style>
</head>
<body>
    <div>
        <h2>Raporti i Dergeses</h2>
        <hr />
        <table>
            <tr>
                <td>
                    @Html.DisplayName("Numri i Pergjigjjes")
                </td>

                <td>
                    @Html.DisplayFor(model => model.PKerkesesID)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayName("Numri i Kerkeses")
                </td>

                <td>
                    @Html.DisplayFor(model => model.KerkesaId)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayName("Data")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Data)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Pershkrimi")
                </td>

                <td>
                    @Html.DisplayFor(model => model.Pershkrimi)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayName("Marresi i Pergjigjjes")
                </td>

                <td>
                    @Html.DisplayFor(model => model.MarresiPergjigjjes)
                </td>
            </tr>
            

        </table>
    </div>
</body>
</html>
