﻿@model POSTA1.Models.Stafi
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/QTPLayout.cshtml";
}





@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
    alert('@TempData["Message"]');
        </script>

    }



}
<div class="col-md-6 stats-info" style="align-content:center">
    <div class="panel-heading">
        <h4 class="panel-title">Profili</h4>

        <div class="panel-body">
            <ul class="list-unstyled">

                <li>Emri<div class="text-success pull-right">@Html.DisplayFor(model => model.Emri)</div></li>
                <li>Datelindja<div class="text-success pull-right">@Html.ValueFor(model => model.Ditelindja, "{0:dd/MM/yyyy}")</div></li>
                <li>ID e userit<div class="text-success pull-right">@Html.DisplayFor(model => model.UserID)</div></li>
                <li>Nr Personal<div class="text-success pull-right">@Html.DisplayFor(model => model.NrPersonal)</div></li>
                <li>Adresa<div class="text-success pull-right">@Html.DisplayFor(model => model.Adresa)</div></li>
                <li>Telefoni<div class="text-success pull-right">@Html.DisplayFor(model => model.Telefoni)</div></li>
                <li>Email<div class="text-success pull-right">@Html.DisplayFor(model => model.Email)</div></li>
                <li>Pozita<div class="text-success pull-right">@Html.DisplayFor(model => model.Pozita)</div></li>
                <li>Data e fillimit te kontrates<div class="text-success pull-right">@Html.ValueFor(model => model.DataFillimit, "{0:dd/MM/yyyy}")</div></li>
                <li>Data e mbarimit te kontrates<div class="text-success pull-right">@Html.ValueFor(model => model.DataMbarimit, "{0:dd/MM/yyyy}")</div></li>
                <li>Zyra Postare<div class="text-success pull-right">@Html.DisplayFor(model => model.ZyraPostare.EmriZyres)</div></li>
                <li>Vendi i punes<div class="text-success pull-right">@Html.DisplayFor(model => model.VendiPunes)</div></li>





            </ul>
        </div>
    </div>

</div>
<br />


<br />
<br />
<div class="col-md-6" style="align-content:flex-end">
    <div class="panel-heading">
        <h4 class="panel-title">Nderro Fjalekalimin</h4>
    </div>

    <form method="post">
        <br />
        <br />
        <div class="form-group">
            <label class="col-md-2 form-control">Fjalekalimi</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="pass" class="form-control1" id="exampleInputPassword1" placeholder="Fjalekalimi">
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="form-group">
            <label class="col-md-2 form-control">Fjalekalimi prape</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="passIRI" class="form-control1" id="exampleInputPassword1" placeholder="Fjalekalimi">
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <input type="submit" value="Nderro" class="btn-inverse btn">
                <button type="reset" class="btn-default btn">Anulo</button>

            </div>

            <br />
            <br />
        </div>

    </form>

</div>
