﻿@model List<POSTA1.Models.DergesatDorezuara>
@{
    ViewBag.Title = "ListaDorezuar";
    Layout = "~/Views/Shared/QTPLayout.cshtml";
    int rowNo = 0;
}

<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Lista e Dorezuar</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
    <div class="navbar-form navbar-right">

        @if (Model.Count != 0)
        {
            using (Html.BeginForm("QtpPdfListaDK", "PDF", FormMethod.Post))
            {


                for (var i = 0; i < Model.Count(); i++)
                {

                    @Html.HiddenFor(m => m[i].DDid)
                    @Html.HiddenFor(m => m[i].Data)
                    @Html.HiddenFor(m => m[i].Pershkrimi)
                    @Html.HiddenFor(m => m[i].Statusi)
                    @Html.HiddenFor(m => m[i].Userat.UserName)


                }
                <input type="hidden" id="viewname" name="viewname" value="QtpListaDK" />


                <input type="submit" value="Gjenero Raportin" />
            }
        }


    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Numri i Dergeses</th>
                            <th>Data</th>
                            <th>Statusi</th>
                            <th>Pershkrimi</th>
                            <th>Postieri</th>
                            


                            <th></th>
                            <th></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="8">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">
                                <th scope="row">@(rowNo += 1)</th>
                                <td>@i.DDid</td>
                                <td>@i.Data.ToString("d")</td>
                                <td>@i.Statusi</td>
                                <td>@i.Pershkrimi</td>
                                <td>@i.Userat.UserName</td>
                              
                                


                              
                                <td><a href="/Account/DVpdfDorezim/@i.DDid">Raporti</a></td>
                                <td><a href="/Account/pdf/@i.DDid">Raporti i Dergeses</a></td>
                                
                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




