﻿@model List<POSTA1.Models.DergesatVendore>
@{
    ViewBag.Title = "PostaPranuar";
    Layout = "~/Views/Shared/QTPLayout.cshtml";
    }

@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
            alert('@TempData["Message"]');
        </script>

    }


}



<div id="page-wrapper col-md-offset-0" class="graphs">
    <div>
        <h3 style="text-align:center">Posta e pranuar</h3>
        <br />
        <form class="navbar-form" method="get">

            <div class=" navbar-left">
            <div class="input-group col-md-offset-1">
                <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                </span>


            </div><!-- Input Group -->

            </div>
            </form>
        <div class="navbar-form navbar-right">
            @if (Model.Count != 0)
            {
                using (Html.BeginForm("QtpPdfPostaPranuar", "PDF", FormMethod.Post))
                {


                    for (var i = 0; i < Model.Count(); i++)
                    {

                        @Html.HiddenFor(m => m[i].DVID)
                        @Html.HiddenFor(m => m[i].NrRekomandes)
                        @Html.HiddenFor(m => m[i].LlojiSherbimit.EmriSherbimit)
                        @Html.HiddenFor(m => m[i].ZyraPostare.EmriZyres)
                        @Html.HiddenFor(m => m[i].Derguesi)
                        @Html.HiddenFor(m => m[i].AdresaDerguesit)
                        @Html.HiddenFor(m => m[i].Marresi)
                        @Html.HiddenFor(m => m[i].AdresaMarresit)
                        @Html.HiddenFor(m => m[i].DataRegj)


                    }
                    <input type="hidden" id="viewname" name="viewname" value="QtpPostaPranuar" />


                    <input type="submit" value="Gjenero Raportin" />
                }
            }


        </div>
      

    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                           
                            <th>Numri i Rekomandes</th>
                            <th>Lloji i Sherbimit</th>
                            <th>Zyra Postare</th>
                            <th>Derguesi</th>
                            <th>Adresa e Derguesit</th>
                            <th>Marresi</th>
                            <th>Adresa e marresit</th>
                            <th>Data e regjistrimit</th>


                            <th></th>
                            <th></th>
                            <th></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="11">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">
                              
                                <td>@i.NrRekomandes</td>
                                <td>@i.LlojiSherbimit.EmriSherbimit</td>
                              
                                <td>@i.ZyraPostare.EmriZyres</td>
                               
                                <td>@i.Derguesi</td>
                                <td>@i.AdresaDerguesit</td>
                                <td>@i.Marresi</td>
                                <td>@i.AdresaMarresit</td>
                                <td>@i.DataRegj.ToString("d")</td>
                            


                               
                                    <td>
                                      
                                            <a href="/QTP/ShtoNeListe/@i.DVID" id="a">Ngarko</a>
                                        
                                       
                                  

                               </td>
                                <td>
                                   
                                    <a href="/Account/pdf/@i.DVID ">Raporti</a>
                                   


                                </td>
                                <td>
                                  
                                    <a href="/QTP/LeterDeleteDV/@i.DVID">Fshij</a>


                                </td>
                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


