﻿@model POSTA1.Models.DergesatPerDorezim
@{
    ViewBag.Title = "ShtoNeListe";
    Layout = "~/Views/Shared/QTPLayout.cshtml";
}

@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
            alert('@TempData["Message"]');
        </script>

    }



}
<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Shto ne Listen per Dorezim!</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.DDID)

                        
                                @Html.Hidden("id", (decimal)ViewBag.ID)

                       
                        
                       
                                @Html.HiddenFor(model => model.Data)
                           
                        

                                @Html.HiddenFor(model => model.UserID)

                        
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Postieri</label>
                            <div class="col-sm-8">

                               @Html.DropDownListFor(model => model.PostieriId, new SelectList(ViewBag.Postieri, "UID", "UserName"), new { @class = "form-control1" })
                            </div>

                        </div>
                        



                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Pershkrimi</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.Pershkrimi, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })

                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Shto" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                       @Html.ActionLink("Kthehu ne List", "PostaPranuar")
                                    </button>
                                </span>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>




