﻿@model List<POSTA1.Models.Transporti>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-size:18px">Raporti </title>
    <style type="text/css">
        /*TD {
            font-size: 15pt;
            border: 1px dashed;
        }

        table {
            border: 1px solid;
            width: 600px;
            height: 800px;
            align-content: center;
        }*/
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px dashed black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h2>Raporti i Dergesave Nderkombetare </h2>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>Numri </th>
                    <th>Pershkrimi</th>

                    <th>Data</th>

                    <th>Postieri</th>
                    <th>Rrugetimi</th>






                </tr>
                <tr>
                    @if (Model.Count() == 0)
                    {
                        <td></td>
                        <td colspan="8">Nuk u gjeten te dhenat e kerkuara</td>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var i in Model)
                {

                    <tr class="active">

                        <td>@i.TRANSPORTID</td>
                        <td>@i.Pershkrimi</td>
                        <td>@i.Data.ToString("d")</td>
                        <td>@i.Userat.UserName</td>
                        <td>@i.Rrugetimi</td>





                    </tr>



                }



            </tbody>
        </table>

    </div>
</body>
</html>
