﻿@model List<POSTA1.Models.DergesatNderkombetare>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-size:18px">Raporti I Dergesave Nderkombetare</title>
    <style type="text/css">
        /*TD {
            font-size: 15pt;
            border: 1px dashed;
        }

        table {
            border: 1px solid;
            width: 600px;
            height: 800px;
            align-content: center;
        }*/
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px dashed black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h2>Raporti I Dergesave Vendore </h2>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>Numri i Rekomandes</th>
                    <th>Lloji i Sherbimit</th>

                    <th>Zyra Postare</th>
                    <th>Menyra transportuese</th>
                    <th>Derguesi</th>
                    <th>Adresa e Derguesit</th>
                    <th>Marresi</th>
                    <th>Adresa e marresit</th>
                    <th>Data e regjistrimit</th>
                    <th>Shteti</th>





                </tr>
                <tr>
                    @if (Model.Count() == 0)
                    {
                        <td></td>
                        <td colspan="10">Nuk u gjeten te dhenat e kerkuara</td>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var i in Model)
                {

                    <tr class="active">

                        <td>@i.NrRekomandes</td>
                        <td>@i.LlojiSherbimit.EmriSherbimit</td>
                        <td>@i.ZyraPostare.EmriZyres</td>
                        <td>@i.Menyra</td>

                        <td>@i.Derguesi</td>
                        <td>@i.AdresaDerguesit</td>
                        <td>@i.Marresi</td>
                        <td>@i.AdresaMarresit</td>
                        <td>@i.DataRegj.ToString("d")</td>
                        <td>@i.Shtetet.EmriShtetit</td>





                    </tr>



                }



            </tbody>
        </table>

    </div>
</body>
</html>
