﻿@model List<POSTA1.Models.DergesatVendore>
@{
    ViewBag.Title = "DergesatVendore";
    Layout = "~/Views/Shared/KontrollerLayout.cshtml";

    var modeli = ViewData["rez"];

}






<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Dergesat Vendore</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
    <div class="navbar-form navbar-right">
        @if(Model.Count!= 0)
        {
            using (Html.BeginForm("KonPdfDV", "PDF", FormMethod.Post))
        {


            for (var i = 0; i < Model.Count(); i++)
            {
                
                    @Html.HiddenFor(m => m[i].DVID)
                   @Html.HiddenFor(m => m[i].NrRekomandes)
                    @Html.HiddenFor(m => m[i].LlojiSherbimit.EmriSherbimit)
                   @Html.HiddenFor(m => m[i].Userat.UserName)
                    @Html.HiddenFor(m => m[i].Derguesi)
                    @Html.HiddenFor(m => m[i].AdresaDerguesit)
                    @Html.HiddenFor(m => m[i].Marresi)
                    @Html.HiddenFor(m => m[i].AdresaMarresit)
                   @Html.HiddenFor(m => m[i].DataRegj)

                
            }
        <input type="hidden" id="viewname" name="viewname" value="KontrolleriDV" />
 

            <input type="submit" value="Gjenero Raportin" />
        }}


    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Numri i Rekomandes</th>
                            <th>Lloji i Sherbimit</th>

                            <th>Sportelisti</th>

                            <th>Derguesi</th>
                            <th>Adresa e Derguesit</th>
                            <th>Marresi</th>
                            <th>Adresa e marresit</th>
                            <th>Data e regjistrimit</th>


                            <th colspan="1"></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                
                                <td colspan="9">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">

                                <td>@i.NrRekomandes</td>
                                <td>@i.LlojiSherbimit.EmriSherbimit</td>
                                <td>@i.Userat.UserName</td>


                                <td>@i.Derguesi</td>
                                <td>@i.AdresaDerguesit</td>
                                <td>@i.Marresi</td>
                                <td>@i.AdresaMarresit</td>
                                <td>@i.DataRegj.ToString("d")</td>




                                <td>
                                    <a href="/Account/pdf/@i.DVID">Raporti</a>



                                </td>
                            </tr>



                        }


                    </tbody>
                </table>

            </div>

        </div>



    </div>
</div>


