﻿@model List<POSTA1.Models.DergesatVendore>
<div id="page-wrapper col-md-offset-0" class="graphs">
    <h3 style="text-align:center">Dergesat Vendore</h3>
    <hr />


    <div class="">
        <table class="table table-bordered" width="950" height="400">
            <thead>
                <tr>

                    <th>Numri i Rekomandes</th>
                    <th>Lloji i Sherbimit</th>
                    <th>Pesha</th>
                    <th>Sportelisti</th>
                    <th>Zyra Postare</th>
                    <th>Qyteti</th>
                    <th>Qmimi</th>
                    <th>Derguesi</th>
                    <th>Adresa e Derguesit</th>
                    <th>Marresi</th>
                    <th>Adresa e marresit</th>
                    <th>Data e regjistrimit</th>




                </tr>
                <tr>
                    @if (Model.Count() == 0)
                    {
                        <td></td>
                        <td colspan="12">Nuk u gjeten te dhenat e kerkuara</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {

                    <tr class="active">
                        @*<th scope="row">@(rowNo += 1)</th>*@
                        <td>@i.NrRekomandes</td>
                        <td>@i.LlojiSherbimit.EmriSherbimit</td>
                        <td>@i.Peshat.Numri</td>
                        <td>@i.Userat.UserName</td>
                        <td>@i.ZyraPostare.EmriZyres</td>
                        <td>@i.Qytetet.EmriQytetit</td>
                        <td>@i.Qmimi.Cmimi</td>
                        <td>@i.Derguesi</td>
                        <td>@i.AdresaDerguesit</td>
                        <td>@i.Marresi</td>
                        <td>@i.AdresaMarresit</td>
                        <td>@i.DataRegj.ToString("d")</td>





                    </tr>



                }



            </tbody>
        </table>

    </div>



</div>