﻿@model List<POSTA1.Models.PergjigjjaKerkes>
@{
    ViewBag.Title = "Pergjigjjet";
    Layout = "~/Views/Shared/KontrollerLayout.cshtml";
    int rowNo = 0;
}

@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
            alert('@TempData["Message"]');
        </script>

    }



}

<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Pergjigjjet</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
    <div class="navbar-form navbar-right">

@if (Model.Count != 0)
{
    using (Html.BeginForm("KonPergjigjjetPDF", "PDF", FormMethod.Post))
    {


        for (var i = 0; i < Model.Count(); i++)
        {

            @Html.HiddenFor(m => m[i].PKerkesesID)
            @Html.HiddenFor(m => m[i].Data)
            @Html.HiddenFor(m => m[i].Pershkrimi)
            @Html.HiddenFor(m => m[i].Userat.UserName)


        }
        <input type="hidden" id="viewname" name="viewname" value="KonPergjigjjet" />


        <input type="submit" value="Gjenero Raportin" />
    }
}


    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Numri i kerkeses</th>

                            <th>Data</th>
                            <th>Pergjigjja</th>
                            <th>Derguesi i Pergjigjjes</th>




                            <th ></th>
                            <th></th>


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="6">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">
                                <th scope="row">@(rowNo += 1)</th>
                                <td>@i.KerkesaId</td>

                                <td>@i.Data.ToString("d")</td>
                                <td>@i.Pershkrimi</td>
                                <td>@i.Userat.UserName</td>


                                <td><a href="/Account/pdfPergjigj/@i.PKerkesesID">Raporti</a></td>
                                <td><a href="/Account/pdfKerkese/@i.KerkesaId">Raporti i Kerkeses</a></td>


                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

