﻿@model POSTA1.Models.DergesatVendore
@{
    ViewBag.Title = "RegjistroDV";
    Layout = "~/Views/Shared/SportelistLayout.cshtml";
}

<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Regjistro Dergesen Vendore</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                          

                            <label for="focusedinput" class="col-sm-2 control-label">Lloji i Sherbimit</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.LlojiSherbimitId, (SelectList)ViewBag.Sherbimet, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Qyteti</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.QytetiId, (SelectList)ViewBag.Qytetet, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>
                       
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Pesha</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.PeshaId, (SelectList)ViewBag.Peshat, htmlAttributes: new { @class = "form-control1" })
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Numri i Rekomandes</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.NrRekomandes, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>

                        
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Derguesi</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Derguesi, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Adresa e Derguesit</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.AdresaDerguesit, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Marresi</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Marresi, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Adresa e Marresit</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.AdresaMarresit, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })
                            </div>

                        </div>


                      
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Vazhdo" class="btn btn_7 btn-lg btn-default">
                                   

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>


