﻿@model POSTA1.Models.DergesatVendore
@{
    ViewBag.Title = "RegjistroDV2";
    Layout = "~/Views/Shared/SportelistLayout.cshtml";
}

<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Regjistro Dergesen Vendore</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Qmimi</label>
                            <div class="col-sm-8">
                               @Html.TextBox("qmimi", (float)@ViewBag.qmimi, new { @readonly = true })
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Regjistro" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                        @Html.ActionLink("Kthehu", "RegjistroDV")
                                    </button>
                                </span>

                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>



