﻿@model List<POSTA1.Models.Transporti>
@{
    ViewBag.Title = "DergesatNderkombetareDorezim";
    Layout = "~/Views/Shared/PostierLayout.cshtml";
    int rowNo = 0;
}

@{
    if (TempData["Message"] != null)
    {



        <script language="javascript">
            alert('@TempData["Message"]');
        </script>

    }



}

<div id="page-wrapper col-md-offset-0" class="graphs">

    <h3 style="text-align:center">Dergesat Nderkombetare</h3>
    <br />
    <form class="navbar-form navbar-left" method="get">

        <div class="input-group col-md-offset-1">
            <input type="text" name="kerko" class="form-control1 input-search col-md-10" placeholder="Kerko">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- Input Group -->

    </form>
    <div class="navbar-form navbar-right">

        @if (Model.Count != 0)
        {
            using (Html.BeginForm("PosPdfDnDorezim", "PDF", FormMethod.Post))
            {


                for (var i = 0; i < Model.Count(); i++)
                {

                    @Html.HiddenFor(m => m[i].TRANSPORTID)
                    @Html.HiddenFor(m => m[i].DnID)
                    @Html.HiddenFor(m => m[i].Pershkrimi)
                    @Html.HiddenFor(m => m[i].PostieriId)
                    @Html.HiddenFor(m => m[i].Rrugetimi)
                    @Html.HiddenFor(m => m[i].Userat.UserName)
    @Html.HiddenFor(m => m[i].Data)



                }
                <input type="hidden" id="viewname" name="viewname" value="PosDnDorezim" />

                <input type="submit" value="Gjenero Raportin" />
            }
        }



    </div>
    <br />
    <br />

    <div class="col-md-15">

        <div class="xs">


            <br />
            <br />
        </div>


        <div class="bs-example4 " data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Numri i Dergeses</th>
                            
                            <th>Data e ngarkimit</th>
                            <th>Rrugetimi</th>
                            <th>Pershkrimi</th>

                            <th></th>
                            <th></th>

                       


                        </tr>
                        <tr>
                            @if (Model.Count() == 0)
                            {
                                <td></td>
                                <td colspan="5">Nuk u gjeten te dhenat e kerkuara</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr class="active">
                                <th scope="row">@(rowNo += 1)</th>
                                <td>@i.DnID</td>
                               
                                <td>@i.Data.ToString("d")</td>
                                <td>@i.Rrugetimi</td>
                                <td>@i.Pershkrimi</td>



                                <td><a href="/Account/DNpdfDorezim/@i.TRANSPORTID">Raporti</a></td>
                                <td><a href="/Account/pdfDN/@i.DnID">Raporti i Dergeses</a></td>

                              
                            </tr>



                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


