﻿@model POSTA1.Models.DergesatDorezuara
@{
    ViewBag.Title = "VerifikoDorezimin";
    Layout = "~/Views/Shared/PostierLayout.cshtml";
}





   

<div id="page-wrapper  col-md-offset-0 " class="graphs">
    <div class="col-md-15 graphs">
        <div class="xs">
            <h3 style="text-align:center">Verifiko Dorezimin!</h3>
            <br />

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" method="post">
                        @Html.HiddenFor(model => model.DDid)


                        @Html.Hidden("id", (decimal)ViewBag.ID)




                        @Html.HiddenFor(model => model.Data)



                        @Html.HiddenFor(model => model.PostieriId)


                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">Statusi</label>
                            <div class="col-sm-8">
                               
                                @Html.DropDownListFor(model => model.Statusi, new SelectList(ViewBag.Aksioni,"Value","Text"), new { @class = "form-control1" })
                            </div>
                         </DIV>

                            

                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Pershkrimi</label>
                                <div class="col-sm-8">

                                    @Html.EditorFor(model => model.Pershkrimi, new { htmlAttributes = new { @class = "form-control1", @required = "required" } })


                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-2">
                                <input type="submit" value="Verifiko" class="btn btn_7 btn-lg btn-default"><span>
                                    <button class="btn btn_7 btn-lg btn-default">
                                        @Html.ActionLink("Kthehu ne List", "DergesatDorezim")
                                    </button>
                                </span>
                            </div>
                                
                            </div>
                     
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
